cxf/src/main/resources/wsdls/dsp8037_1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
DMTF - Distributed Management Task Force, Inc. - http://www.dmtf.org

Document number: DSP8037
Date: 2010-02-19
Version: 1.0.0
Document status: DMTF Standard

Title: WS-Management Enumeration Operations WSDL

Document type: Specification (W3C WSDL Document)
Document language: E

Abstract: WSDL for WS-Management Enumeration Operations.

Contact group: DMTF WS-Management Work Group, wsman-chair@dmtf.org

Copyright (C) 2008,2009, 2010 Distributed Management Task Force, Inc. (DMTF).
All rights reserved.  DMTF is a not-for-profit association of industry
members dedicated to promoting enterprise and systems management and
interoperability.  Members and non-members may reproduce DMTF
specifications and documents 
provided that correct attribution is given.  As DMTF specifications may
be revised from time to time, the particular version and release date
should always be noted.  Implementation of certain elements of this
standard or proposed standard may be subject to third party patent
rights, including provisional patent rights (herein "patent rights").
DMTF makes no representations to users of the standard as to the
existence of such rights, and is not responsible to recognize, disclose,
or identify any or all such third party patent right, owners or
claimants, nor for any incomplete or inaccurate identification or
disclosure of such rights, owners or claimants.  DMTF shall have no
liability to any party, in any manner or circumstance, under any legal
theory whatsoever, for failure to recognize, disclose, or identify any
such third party patent rights, or for such party's reliance on the
standard or incorporation thereof in its product, protocols or testing
procedures.  DMTF shall have no liability to any party implementing
such standard, whether such implementation is foreseeable or not, nor
to any patent owner or claimant, and shall have no liability or
responsibility for costs or losses incurred if a standard is withdrawn
or modified after publication, and shall be indemnified and held
harmless by any party implementing the standard from any and all claims
of infringement by a patent owner for such implementations.  For
information about patents held by third-parties which have notified the
DMTF that, in their opinion, such patent may relate to or impact
implementations of DMTF standards, visit
http://www.dmtf.org/about/policies/disclosures.php.

Change log:
1.0.0 - 2009-11-01 - Work in progress release
1.0.0 - 2010-02-19 - DMTF Standard release
  -->
<wsdl:definitions
    targetNamespace="http://schemas.xmlsoap.org/ws/2004/09/enumeration" 
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" 
	  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsmen="http://schemas.xmlsoap.org/ws/2004/09/enumeration"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" >

  <wsdl:types>
    <xs:schema>
      <xs:import
        namespace="http://schemas.xmlsoap.org/ws/2004/09/enumeration"
        schemaLocation="http://schemas.dmtf.org/wbem/wsman/1/dsp8033_1.0.xsd" 
        />
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="EnumerateMessage">
    <wsdl:part name="Body" element="wsmen:Enumerate" />
  </wsdl:message>
  <wsdl:message name="EnumerateResponseMessage">
    <wsdl:part name="Body" element="wsmen:EnumerateResponse" />
  </wsdl:message>
  <wsdl:message name="PullMessage">
    <wsdl:part name="Body" element="wsmen:Pull" />
  </wsdl:message>
  <wsdl:message name="PullResponseMessage">
    <wsdl:part name="Body" element="wsmen:PullResponse" />
  </wsdl:message>
  <wsdl:message name="RenewMessage" >
    <wsdl:part name="Body" element="wsmen:Renew" />
  </wsdl:message>
  <wsdl:message name="RenewResponseMessage" >
    <wsdl:part name="Body" element="wsmen:RenewResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusMessage" >
    <wsdl:part name="Body" element="wsmen:GetStatus" />
  </wsdl:message>
  <wsdl:message name="GetStatusResponseMessage" >
    <wsdl:part name="Body" element="wsmen:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ReleaseMessage">
    <wsdl:part name="Body" element="wsmen:Release" />
  </wsdl:message>
  <wsdl:message name="ReleaseResponseMessage" />
  <wsdl:message name="EnumerationEndMessage" >
    <wsdl:part name="Body" element="wsmen:EnumerationEnd" />
  </wsdl:message>
  
  <wsdl:portType name="DataSource">
    <wsdl:operation name="EnumerateOp">
      <wsdl:input 
        message="wsmen:EnumerateMessage"
     wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Enumerate"
     wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Enumerate"
        />
      <wsdl:output 
        message="wsmen:EnumerateResponseMessage" 
        wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/EnumerateResponse"
        wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/EnumerateResponse"
       />
    </wsdl:operation>
    <wsdl:operation name="PullOp">
      <wsdl:input 
        message="wsmen:PullMessage"
        wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Pull"
        wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Pull"
        />
      <wsdl:output 
        message="wsmen:PullResponseMessage" 
   wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/PullResponse"
  wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/PullResponse"
        />
    </wsdl:operation>
    <wsdl:operation name="RenewOp" >
      <wsdl:input 
        message="wsmen:RenewMessage" 
        wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Renew"
       wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Renew"
        />
      <wsdl:output 
        message="wsmen:RenewResponseMessage" 
 wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/RenewResponse"
wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/RenewResponse"
        />
    </wsdl:operation>
    <wsdl:operation name="GetStatusOp" >
      <wsdl:input 
        message="wsmen:GetStatusMessage" 
     wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/GetStatus"
    wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/GetStatus"
        />
      <wsdl:output 
        message="wsmen:GetStatusResponseMessage" 
        wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/GetStatusResponse"
wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/GetStatusResponse"
        />
    </wsdl:operation>
    <wsdl:operation name="ReleaseOp">
      <wsdl:input 
        message="wsmen:ReleaseMessage"
     wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Release"
    wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Release"
        />
      <wsdl:output 
        message="wsmen:ReleaseResponseMessage" 
wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/ReleaseResponse"
wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/ReleaseResponse"
        />
    </wsdl:operation>
  </wsdl:portType>

  <!-- The following portType shall be supported by the endpoint to which
       The EnumerationEnd message is sent -->
  <wsdl:portType name="EnumEndEndpoint">
    <wsdl:operation name="EnumerationEndOp" >
      <wsdl:input 
        message="wsmen:EnumerationEndMessage" 
        wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/EnumerationEnd"
wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/EnumerationEnd"
        />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
